* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(210, 17, 17);
}

.kick-pad.active {
  background: rgb(222, 119, 119);
}

.snare-pad {
  background: rgb(13, 152, 122);
}

.snare-pad.active {
  background: rgb(115, 210, 189);
}

.hihat-pad {
  background: rgb(130, 17, 210);
}

.hihat-pad.active {
  background: rgb(165, 113, 203);
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  color: white;
  cursor: pointer;
  background: rgb(88, 88, 88);
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(160, 151, 151);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}
